

hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    padding: 40px 0;
}
about-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    padding: 40px 0;
}

portfolio-preview {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    padding: 40px 0;
}